body {
  background-color:      #7cace2 ;
  font-family: Helvetica, Arial, sans-serif;
  
}

.exp-header {
  text-transform: uppercase;
  border-top: 1px solid black;
}

.edu-header {
  text-transform: uppercase;
  border-top: 1px solid black;
}

.education {
  border-bottom: 1px solid black;
}

img {
  width: 100%
}
