body {
  background-color:      #7cace2 ;
  font-family: Helvetica, Arial, sans-serif;
  margin: 5% 5%;
  background-image: url("https://landing.adobe.com/dam/2017/images/374113-edu-resume-template.marquee-background-image.1440x888.jpg");
}

.exp-header {
  text-transform: uppercase;
  border-top: 1px solid black;
}

.edu-header {
  text-transform: uppercase;
  border-top: 1px solid black;
}

.education {
  border-bottom: 1px solid black;
}

img {
  float: right;
  height: 50px;
}
