body {
  background-color:  lightsalmon;
  font-family: Helvetica, Arial, sans-serif;
  margin: 5% 5%;
}

.exp-header {
  text-transform: uppercase;
  border-top: 1px solid black;
}

.edu-header {
  text-transform: uppercase;
  border-top: 1px solid black;
}
